body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.banner {
    background-image: url(img/image\ 3bg.png);
    background-color: #F8E4D7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 65.5px;
}
header {
    padding-top: 20px ;
    display: flex;
    justify-content: space-between;
}
header img {
    height: 55px;
    cursor: pointer;
}
.header-list {
    display: flex;
    gap: 40px;
}
header ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: sans-serif;
    font-size: 18px;
    color: #446381;
}
.header-list li {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}  
.header-list li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #3498db; /* Цвет подчеркивания */
    transition: width 0.3s ease;
}  
.header-list li:hover::before {
    width: 100%;
}
.botton {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 200000px;
    background: linear-gradient(95deg, #4499D9, #4499D9, #7367BE);
    background-size: 200% 100%;
    background-position: 100% 100%;
    padding: 15px 21px;
    align-content: center;
    transition: background-position 800ms;
    margin: auto;
}
.botton:hover {  
    background-position: 0% 100%;
    box-shadow: 0 3px 10px 0 #9b9b9b;
}
.banner-content {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}
.banner-text {
    position: relative;
    font-family: sans-serif;
    width: 520px;
}
.banner-text h3 {
    font-size: 21px;
    color: #446381;
    margin-bottom: 3px;
    padding-bottom: 0 ;
}
.banner-text h1 {
    color: #EB8382;
    font-size: 68px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.banner-text p {
    color: #826F8C;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 170%;
}
.banner-text a {
    display: inline-block;
}
.banner-img {
    margin-top: 20px;
    position: relative;
}
.banner-bg-chel{
    width: 110%;
}
.banner-chel {
    position: absolute;
    left: 5px;
    bottom: 13px;
    z-index: 1;
    animation: move 0.8s linear;
}
@keyframes move {
    0% {
        bottom: -20%;
        opacity: 50%;
    }
    100% {
        bottom: 13px;
        opacity: 1;
    }
}
.banner-chel-effect {
    position: absolute;
    bottom: 450px;
    left: 90px;
    animation: transform 0.8s 1s  ease-in-out forwards;
    z-index: 0;
    transform: scale(0);
}
@keyframes transform {
    from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
}
.banner-box-1 {
    position: absolute;
    bottom: 500px;
    right: 370px;
}
.banner-box-2 {
    position: absolute;
    bottom: -10px;
    right: -130px;
    z-index: 2;
}
.banner-krest {
    position: absolute;
    bottom: -30px;
    left: 280px;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.second-selection {
    background-color: #FAEADD;
    padding-top: 140px;
    padding-bottom: 30px;
    background-image: url(img/Kerfin7_NEA_2356_1bg2.png);
    background-position: right;
    background-position-y: -150px;
    background-repeat: no-repeat;
    height: 600px;
    overflow: hidden;
}
.second-selection-img {
    position: relative;
    left: 50px;
    height: 300px;
}
.second-selection-img-bg {
    position: relative;
    width: 550px;
    z-index: 0;
}
.second-selection-img-men {
    position: relative;
    right: 485px;
    bottom: 10px;
    width: 177.43px;
    z-index: 2;
}
.second-selection-img-shodow {
    position: relative;
    right: 655px;
    bottom: 10px;
    width: 300px;
    z-index: 1;
}
.second-selection-img-screen {
    position: relative;
    top: -600px;
    left: 270px;
    width: 270px;
    animation: upDownAnimation 4s ease-in-out infinite;
}

@keyframes upDownAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.second-selection-texbox {
    font-family: sans-serif;
    width: 520px;
    position: relative;
    bottom: 300px;
    left: 650px;
}
.second-selection-texbox h3 {
    font-size: 21px;
    color: #446381;
    margin-bottom: 3px;
    padding-bottom: 0 ;
}
.second-selection-texbox h1 {
    color: #EB8382;
    font-size: 68px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    width: 390px;
}
.second-selection-texbox p {
    color: #826F8C;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 170%; 
}
.second-selection-texbox a{
    display: inline-block;
}
.second-selection-texbox h2 {
    pointer-events: none;
    font-family: sans-serif;
    font-weight: 710px;
    font-size: 418px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 10px #EB8382;
    opacity: 0.05;
    position: absolute;
    top: -160px;
    height: 350px;
    overflow: hidden;
    z-index: 0;
}
.second-selection-bg-sh {
    position: relative;
    z-index: -1;
}
.second-selection-bg-sh-img-1 {
    position: absolute;
    top: -945px;
    left: 653px;
    width: 754px;
    height: 730.32px;
}
.second-selection-bg-sh-img-2 {
    position: absolute;
    top: -550px;
    left: 351px;
}
.second-selection-bg-sh-img-3 {
    position: absolute;
    top: -875.09px;
    left: -153px;
    width: 707px;
    height: 620px;
}
.second-selection-bg-sh-img-4 {
    position: absolute;
    top: -781.7px;
    left: 379px;
    width: 720px;
    height: 700px;
}